doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Adam Lim

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Adam Lim
                span.d-none.d-lg-block
                    h4(style='color: white') Adam Lim
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/adam_profile.JPG', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='assets/AdamLim_Resume_Online-2022-05-31.pdf' download='AdamLim_Resume' target='_blank') Download Resume

        // Page Content
        .container-fluid.p-0

            // About
            #masthead(style="background-image: url('assets/img/Chicago.JPG');  background-size: cover;")
                section#adam.resume-section

            hr.m-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Adam 
                        span.text-primary Lim
                    .subheading.mb-5
                        | Chicago, IL ·  
                        a(href='mailto:adam@adamlim.me') adam@adamlim.me
                    p.lead.mb-5
                        | Professional data scientist, recreational athlete, lifelong learner, proud Northwestern grad.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/AdamYLim/' target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/adam-lim1' target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='#!')
                            i.fas.fa-envelope

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    div(style='outline: 3px solid blue; display: flex;')
                        div(style='flex: 0.01; outline: 2px dotted darkcyan')
                            img.logo(src='assets/img/syf.JPG')
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(style='flex: 1;')
                            .flex-grow-1(style='outline: 2px solid orange;')
                                h3.mb-0 Data Scientist
                                .subheading.mb-3 Synchrony
                                p
                                    | Leverage technologies in Hadoop ecosystem (Python, Spark, Hive) to facilitate data-driven decision making through the development of both supervised and unsupervised classification models in areas such as fraud detection and customer satisfaction prediction.
                            .flex-shrink-0
                                span.text-primary July 2017 - Present
                    
                    div(style='outline: 3px solid blue; display: flex;')
                        div(style='flex: 0.01; outline: 2px dotted darkcyan')
                            img.logo(src='assets/img/syf.JPG')
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(style='flex: 1;')
                            .flex-grow-1(style='outline: 2px solid orange;')
                                h3.mb-0 Data Science Intern
                                .subheading.mb-3 Synchrony
                                p
                                    | Developed Proof of Concepts for emerging technologies in the big data space.
                            .flex-shrink-0
                                span.text-primary Summer 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Intelitec Solutions
                            p
                                | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                        .flex-shrink-0
                            span.text-primary December 2011 - March 2013

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education


                    div(style='outline: 3px solid blue; display: flex;')
                        div(style='flex: 0.01; outline: 2px dotted darkcyan')
                            img.logo(src='assets/img/uchicago.JPG')
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(style='flex: 1;')
                            .flex-grow-1(style='outline: 2px solid orange;')
                                h3.mb-0 University of Chicago
                                .subheading.mb-3 Master of Science - Computer Science
                            .flex-shrink-0
                                span.text-primary 2020 - Present

                    div(style='outline: 3px solid blue; display: flex;')
                        div(style='flex: 0.01; outline: 2px dotted darkcyan')
                            img.logo(src='assets/img/northwestern.JPG')
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(style='flex: 1;')
                            .flex-grow-1(style='outline: 2px solid orange;')
                                h3.mb-0 Northwestern Universirty
                                .subheading.mb-3 Bachelor of Science - Industrial Engineering
                                p
                                    | Minor - Economics
                            .flex-shrink-0
                                span.text-primary 2012 - 2017
                    
            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')